
.note-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4 ,1fr);
}


.note{
  background-color: darkkhaki;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
  .note-dri{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container{

  }
  .note.new{
    background-color: aquamarine;
  }
  textarea{
    border: none;
    resize: none;
    background-color: aquamarine;
  }
  textarea:focus{
    outline: none;
  }
  .save{
    background-color: azure;
    border: none;
    border-radius: 15px;
    padding: 5px, 10px, 5px,10px;
  }
  .save:hover{
    background-color: blueviolet;
    cursor: pointer;
  }
  .search{
    display: flex;
    align-items: center;
    background-color: rgb(233, 233,233);
    border-radius: 10px;
    margin-bottom: 1.5rem;
  }
  .search input{
    border: none;
    background-color: rgb(233, 233,233);
  }
  .search input:focus{
    outline: none;
  }
  .header{
    text-align: center;
  }